.footer{
    position:absolute;
    display:flex;
    min-width:100vw;
    height:auto;
    margin-bottom:0px;
    align-self: end;
    justify-content:center;
    background-color:black;
    color:hsla(0, 0%, 100%, 0.712);
}